/PracticaWebJSF-ejb/nbproject/private/
/nbproject/private/
/PracticaWebJSF-war/nbproject/private/
/PracticaWebJSF-ejb/build/
/PracticaWebJSF-war/build/
/PracticaWebJSF-ejb/dist/
/dist/
/build/
/PracticaWebJSF-war/dist/
/PracticaWebJSF-ejb/src/conf/
/PracticaWebJSF-war/src/conf/
/src/conf/